# secrets.toml.example

[auth]
provider       = "auth0"
redirect_uri   = "http://localhost:8501/oauth2callback"
cookie_secret  = "LmzM14Ddp4cgupOZvzqzr5sfX2tGpWxPlvQWEU8Y57E="

[auth.auth0]
client_id           = "CHANGE_ME"
client_secret       = "CHANGE_ME"
server_metadata_url = "https://YOUR_DOMAIN.auth0.com/.well-known/openid-configuration"
