# secrets.toml.example

[auth]
provider       = "auth0"
redirect_uri   = "http://localhost:8501/oauth2callback"
cookie_secret  = "LmzM14Ddp4cgupOZvzqzr5sfX2tGpWxPlvQWEU8Y57E="

[auth.auth0]
client_id           = "8BAb9oH8YY8aaHWRk44lt32YGrtUHDvB"
client_secret       = "_dgDcOxV5Z6wGOWQKvMAY8TaigQJMMlmccfBkAcbD0dAHrVNAJTiKMj1pTRSdVy9"
server_metadata_url = "https://dev-kpr0aaljq6domnhv.us.auth0.com/.well-known/openid-configuration"
